<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
<%= render(PostComponent.with_collection(@posts)) %>
</div>
<%= render(CommentComponent.new(comment: {id: 1, body: 'WAAAAA', user: 'nic', created_at: Time.now})) %>
<%= link_to "New post", new_post_path %>
